<%= include('../layouts/boilerplate') %> 


     <h2>Add a review to this profile!</h2>
     <h5 class="text-muted">Adding a review to a profile helps others decide, whether a user can be trusted!</h5> 
     <br>
     <form action="/profile/<%= userData._id %>/reviews/new " method="post" class="validated-form" novalidate>
          <div class="mb-3">
                <label class="form-label" for="location">Give a title to your review:</label>
                <input class="form-control"  type="text" name="title" id="title" placeholder="title" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please give a location!
                </div>
          </div>  
          <div class="mb-3">
               <label class="form-label" for="price">Your rating:</label>
               <select class="form-select" aria-label="Default select example">
                    <option selected></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
               </select>
          </div>
          <div class="mb-3">
               <label class="form-label" for="description">Describe your experience:</label>
               <textarea class="form-control"  type="text" name="description" id="description" placeholder="description"></textarea>            
          </div>
          <button class="btn btn-success mb-3">Submit your review of <%= userData.username %> </button>
     </form>
